


/*Giver min body en farve*/
body{
    background-color: #fffde0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}


/*Positionerer min burgermenu og styler den (giver den baggrundsfarve, sørger for at den er over billedet, giver det line-height)*/
.topnav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: "eight", sans-serif;
    line-height: 4;
    font-size: 17px;
    background-color: #FFF7B3;
    padding-left: 5%;
    width: 155px;
    height: 1000%;
    z-index: 1;
}

/*Gør selve teksterne sorte og fjerner dekorationen på dem*/
.topnav a {
    text-decoration: none;
    color: black;
}

/*Positionere min burgermenu*/
.burger {
    display: flex;
    justify-content: end;
}

/*Tilpasser baggrundsbilledet så det fylder hele baggrunden*/
.mobilbaggrund img {
    width: 100%;
}
