



body{
    background-color: #fffde0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}


.topnav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: "eight", sans-serif;
    line-height: 4;
    font-size: 17px;
    background-color: #FFF7B3;
    padding-left: 5%;
    width: 155px;
    height: 1000%;
    z-index: 1;
}

.topnav a {
    text-decoration: none;
    color: black;
}

.burger {
    display: flex;
    justify-content: end;
}

.mobilbaggrund{
    position: relative;
    padding-left: 0;
    width: 100%;
}

.mobilbaggrund img {
    width: 100%;
}
